@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";


@theme {
  --font-display: "Space Grotesk", sans-serif;
  --breakpoint-3xl: 120rem;


  --color-brand-dark: #0d0d0d;
  --color-brand-orange: #ff7b00;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

html, body {
  font-family: var(--font-display);
  background-color: var(--color-brand-dark);
  color: white;
}
